.profileBox {
  margin: 0 auto;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 9px;
  margin-bottom: 20px;
}

.profileMainBox {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.profileIcon {
  border-radius: 100%;
  overflow: hidden;
  background-color: rgb(50, 50, 50);
  width: 150px;
  margin-bottom: 20px;
}

.profileName {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.profileDescription {
  font-size: 26px;
  color: rgb(134, 132, 132);
}

.profileList {
  display: flex;

  border-top: 2px solid rgb(134, 132, 132);
  background-color: rgb(215, 212, 212);
}

.profileItem {
  flex-basis: calc(100% / 3);
  padding: 30px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profileItem:not(:last-child) {
  border-right: 2px solid rgb(61, 54, 54);
}

.profileInfo {
  justify-content: center;
  font-size: 28px;
}

.profileInfoStat {
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
}
